.box1 {
  margin: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 250px;
  height: 350px;
}
header {
  padding: 20px;
  background: rgb(94, 0, 0);
  height: 20px;
}
.p1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 1300px;
  margin-top: 1px;
  color: white;
}

img {
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}
h3 {
  margin-left: 100px;
  font-size: 20px;
}
.btn1 {
  position: relative;
  left: 50px;
}
.counter {
  position: relative;
  left: 105px;
  top: -35px;
}
.btn2 {
  position: relative;
  left: 140px;
  top: -72px;
}
.btn3 {
  position: relative;
  left: 42px;
  top: -30px;
}
