<header>
  <div class="cart_count">
    <P class="p1"> <button (click)="onToggle()">cart</button>{{ cartItem }}</P>
  </div>
</header>
<div *ngIf="showMe">
  <div [ngClass]="box1" *ngFor="let foodVar of foodArray">
    <img src="{{ foodVar.img }}" />
    <h3>₹{{ foodVar.amt }}</h3>
    <button class="btn1" (click)="add(foodVar)">+</button>
    <p class="counter">{{ foodVar.qty }}</p>
    <button class="btn2" (click)="minus(foodVar)">-</button>
    <button class="btn3" (click)="addCart(foodVar)">Add To Card</button>
  </div>
</div>
<app-cart
  [shopData]="cartArray"
  [cart]="cartItem"
  *ngIf="!showMe"
  #parent
></app-cart>
