<div class="d1">
  <table>
    <tr>
      <th>Image</th>
      <th>Price</th>
      <th>Quentity</th>
      <th>Sub Total</th>
    </tr>
    <tr *ngFor="let food of shopData">
      <td><img src="{{ food.img1 }}" /></td>
      <td>₹{{ food.amt1 }}</td>
      <td>
        <button class="btn1" (click)="add1(food)">+</button>

        <p class="counter">{{ food.qty1 }}</p>
        <button class="btn2" (click)="sub1(food)">-</button>
      </td>
      <td>₹{{ food.amt1 * food.qty1 }}</td>
    </tr>
  </table>
</div>
